body {
  background-color: #181a1b;
  color: #f8f9fa;
}
.form-container {
  background-color: #23272b;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  max-width: 470px;
  margin: 0 auto;
}
.form-label,
h1,
h3 {
  color: #f8f9fa;
}
input.form-control {
  background-color: #181a1b;
  color: #f8f9fa;
  border: 1px solid #343a40;
}
input.form-control:focus {
  background-color: #23272b;
  color: #f8f9fa;
  border-color: #495057;
}
.btn-primary {
  background-color: #495057;
  border-color: #495057;
}
.btn-primary:hover {
  background-color: #343a40;
  border-color: #343a40;
}
.player-block {
  border: 1px solid #343a40;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: #202326;
  position: relative;
}
.remove-player-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nome-jogador {
  word-wrap: break-word !important;
  max-width: 100px !important;
}

.tabela-detalhada-container {
  overflow-x: visible;
  display: flex; /* centraliza no eixo horizontal */
  justify-content: center;
}

.tabela-detalhada {
  margin: 0 auto; /* garante centralização */
  min-width: max-content; /* garante que a tabela não fique muito larga */
}

/* Cores inspiradas nas cartas do 7 Wonders */
.col-civil {
  background-color: rgba(70, 130, 180, 0.3) !important; /* Azul */
}
.col-comercial {
  background-color: rgba(255, 215, 0, 0.3) !important; /* Amarelo ouro */
}
.col-guildas {
  background-color: rgba(128, 0, 128, 0.3) !important; /* Roxo */
}
.col-militar {
  background-color: rgba(178, 34, 34, 0.3) !important; /* Vermelho */
}
.col-maravilha {
  background-color: rgba(91, 227, 227, 0.3) !important; /* Cinza */
}
.col-moedas {
  background-color: rgba(218, 165, 32, 0.3) !important; /* Dourado */
}
.col-ciencia {
  background-color: rgba(34, 139, 34, 0.3) !important; /* Verde */
}
